.btn {
  background-color: #283e4a;
  border-color: #283e4a;
}

.btn:hover:not(:disabled) {
  background-color: #e9ebee;
  color: #283e4a;
}

.btn:hover:not(:disabled), .btn:active, .btn:focus {
  background-color: #e9ebee !important;
  border-color: #283e4a !important;
  color: #283e4a !important;
  box-shadow: none !important;
}

input.ng-invalid.ng-touched {
  border: 1px red solid;
}
